nav {
  font-size: 0.800rem;
}

nav i {
  font-size: 1.3rem;
}

.tp {
  opacity: .95;
}

.dcenter {
  display: flex;
  justify-content: center;
}

.logo {
  color: rgb(175, 175, 175);
}

.navbar-toggler {
  border-style: none;
}